# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Env
.env
.env.local

# Node
node_modules/
dist/

# Local data
backend/uploads/*
!backend/uploads/.gitkeep
backend/vector_db/*
!backend/vector_db/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
